body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #666666;
}


.firstRow {
	background: #4aaaa5;
	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-bottom: 20px;
}

h1 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 75px;
	padding: 10px;
	margin-top:20px;
	margin-bottom: 0px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;


}

.pagehead {
	background: #4aaaa5
	color: white;

	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.about,
.portfolio,
.contact {
	color: #777777;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 3px;
	font-size: 15px;

}
h5 {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	color: white;
	background: #4aaaa5;
	font-family: 'Concert One', cursive;
	font-size: 20px;
	padding: 5px;
}

.background {
	background: #dddddd;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.about-me {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom-color: #dddddd;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.content {
	background: #ffffff;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 40px;
}
.contactContent {
	padding-bottom: 20px;
}

.firstProject,
.secondProject,
.thirdProject{
	height: 400px;
	width: 700px;
	margin-right: 10px;
	margin-top: 20px;
}


.box {
	width: 75%;
}

.portfolio-image {
	height: 200px;
	width: 225px;
	float: left;
	margin-right: 10px;
}

.sidebar {
	background: #ffffff;
	width: 200px;
	height: 200px;
	color: #4aaaa5;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	text-align: center;
	margin-top: 75px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-left: 25px;
}

.linkedin {
	height: 50px;
	width: 50px;
}

.github {
	height: 50px;
	width: 50px;
	margin-left: 10px;
}

.stackoverflow {
	height: 50px;
	width: 50px;
	margin-left: 10px;
}


.footer {
	color: white;
	text-align: center;
	background-color: #4aaaa5;
	border-top-color: black;
	border-top-width: 4px;
	border-top-style: solid;
	padding: 20px;
	margin-top: 75px;
}

